ul.list-style-circle{
    list-style-type: circle;
}

ul.list-style-square{
    list-style-type: square;
}

ol.list-style-roman {
    list-style-type: upper-roman;
}
  
ol.list-style-alpha{
    list-style-type: lower-alpha;
}

ul.list-style-stacked{
    list-style-type: none;
}