.alert{
    min-width: 20rem;
    height: auto;
    max-width: 24rem;
    border-radius: 3px;
    margin: 0.7rem;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.3rem;
}

.alert-success-readmore,
.alert-success-icon,
.alert-success-close{
    background-color: var(--success-background);
    color: var(--success-txt-color);
}

.alert-info-readmore,
.alert-info-icon,
.alert-info-close{
    background-color: var(--info-background);
    color: var(--info-txt-color);
}

.alert-warning-readmore,
.alert-warning-icon,
.alert-warning-close{
    background-color: var(--warning-background);
    color: var(--warning-txt-color);
}

.alert-error-readmore,
.alert-error-icon,
.alert-error-close{
    background-color: var(--error-background);
    color: var(--error-txt-color);
}

.alert-success-close,
.alert-warning-close,
.alert-info-close,
.alert-error-close,
.alert-success-readmore,
.alert-warning-readmore,
.alert-info-readmore,
.alert-error-readmore{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}

.alert-success-icon,
.alert-info-icon,
.alert-warning-icon,
.alert-error-icon{
    gap:1rem;
}

.alert-success-readmore div,
.alert-warning-readmore div,
.alert-info-readmore div,
.alert-error-readmore div,
.alert-success-close div,
.alert-warning-close div,
.alert-info-close div,
.alert-error-close div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
}

.alert-dismiss{
  cursor: pointer;
}