.simple-input{
    display: block;
    border-radius: 0.3rem;
    border: 0.2rem solid var(--color-black);
    padding:0.75rem;
    width: 20rem;
}

.input-label{
    font-size: larger;
    font-weight: bold;
    margin-top:1rem;
    display:inline-block;
}

.error-input{
    border: 0.2rem solid var(--error-txt-color);
}

.error-span{
    display: block;
    color: var(--error-txt-color);
}